<h1>Ajout d'un athlète</h1>

<form action="/sports/:sportId/athletes/:athletesId">
  <label for="cars">Choisir un athlete</label>
  <select name="athlete" id="athlete">
    {{#each listeAthletes}}
        <option value={{id}}>{{lastName}}{{firstName}}</option>
    {{#each listeAthletes}}
  </select>
  <br><br>
  <input type="submit" value="Submit">
</form>