<h1>Liste des athlètes <a href="/athletes/new">+</a></h1><br>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Genre</th>
                <th>Pays</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each listeAthletes}}
                <tr>
                    <td>{{firstName}}</td>
                    <td>{{lastName}}</td>
                    <td>{{gender}}</td>
                    <td>{{country}}</td>
                    <td><a href="/sports/add">Ajout dans un sport</a></td>
                </tr>
            {{/each}}
        </tbody>
    </table>
<div style="margin-top: 20px">
    <a href="/sports"><h2>Voir la liste des sports</h2></a>
</div>