<h1>Ajout d'un athlète</h1>

<form action="/sports/:sportId/athletes/:athletesId">
  <label for="cars">Choisir un athlete</label>
  <select name="athlete" id="athlete">
    {{#each listeAthletes}}
        <option value={{id}}>{{lastName}}{{firstName}}</option>
    {{#each listeAthletes}}
  </select>
  <br><br>
  <input type="submit" value="Submit">
</form>

<h2>Inscription d'un nouvel athlète dans le sport</h2>
<div class="container-fluid">
    <form method="post" action="/athletes">
        <div class="form-group">
            <label for="firstName">Nom</label>
            <input name="firstName" type="text" class="form-control" id="firstName">
        </div>
        <div class="form-group">
            <label for="lastName">Prénom</label>
            <input name="lastName" type="text" class="form-control" id="lastName">
        </div>
        <div class="form-group">
            <label for="gender">Genre</label>
            <input name="gender" type="text" class="form-control" id="gender">
        </div>
           <div class="form-group">
            <label for="country">Pays</label>
            <input name="country" type="text" class="form-control" id="country">
        </div>
        <button type="submit" class="btn btn-primary">Valider l'inscription</button>
        <a href="/athletes" class="btn btn-cancel">Retour</a>
    </form>
</div>