<h2>Ajout d'un nouveau sport</h2>
    <div class="container-fluid">
        <form method="post" action="/sports">
            <div class="form-group">
                <label for="name">Nom</label>
                <input name="name" type="text" class="form-control" id="name">
            </div>
            <button type="submit" class="btn btn-primary">Ajout</button>
        </form>
    </div>