<h1>Liste des sports</h1>
<table class="table">
    <thead>
        <tr>
            <th>Sports</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{#each sports}}
            <tr>
                <td>{{name}}</td>
                <td><a href="/sports/{{id}}/athletes">Voir athlètes</a></td>
            </tr>
        {{/each}}
    </tbody>
</table>

<div style="margin-top: 20px">
    <h2>Ajout d'un nouveau sport</h2>
    <div class="container-fluid">
        <form method="post" action="/sports">
            <div class="form-group">
                <label for="name">Nom</label>
                <input name="name" type="text" class="form-control" id="name">
            </div>
            <button type="submit" class="btn btn-primary">Ajout</button>
        </form>
    </div>
</div>

<div style="margin-top: 20px">
    <a href="/athletes"><h2>Voir la liste des athlètes</h2></a>
</div>