<h1>Liste des sports <a href="/sports/new">+</a></h1><br>
<table class="table">
    <thead>
        <tr>
            <th>Sports</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{#each sports}}
            <tr>
                <td>{{name}}</td>
                <td>
                    <a href="/sports/{{id}}/athletes" class="btn btn-primary">Voir athlètes</a>
                    <a href="/sports/{{id}}/addAthlete" class="btn btn-primary">Ajouter un athlète</a>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>